.cache/**
.vscode/**
compile_commands.json

.venv/**
tests/cases/*/build

ar
cc
disasm
exec
fle_base
ld
nm
objdump
readfle
readelf

**/*.o
**/*.fle

.autograder_result
.last_cxxflags
.test_history

__pycache__